<div class="loader-data-container">
    <form [formGroup]="ProjectTimeForm" (ngSubmit)="onFormSubmit()">
        <div class="input-container" dir="rtl">
            <app-main-headline [title]="'dataLoader.heading' | translate"></app-main-headline>
            <div class="row">
                <div class="col-md-6">
                    <app-auto-complete [formGroup]="ProjectTimeForm" [listInput]="ProjectList" [title]="'dataLoader.selectProject' | translate"
                        [formControlName]="'projectName'" [(selectedValue)]="CurrProjectName"
                        [placeholder]="'dataLoader.projectNamePlaceholder' | translate"></app-auto-complete>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <app-auto-complete [formGroup]="ProjectTimeForm" [placeholder]="'dataLoader.employingUnit' | translate"
                        [title]="'dataLoader.employingUnit' | translate" [formControlName]="'sectionName'"
                        [listInput]="SectionList"></app-auto-complete>
                </div>
            </div>

            <div style="margin-top: 3rem;" [@slideInOut] *ngIf="ProjectTimeForm.get('sectionName')?.value">
                <div class="time-data-container"
                    *ngFor="let dateTimeGroup of DateTimeFormArray.controls; let i = index">
                    <div class="time-headline-container">
                        <app-svg-icon (click)="RemoveDateTimeRow(i)" name="delete" [size]="20"></app-svg-icon>
                        <h3>{{ 'dataLoader.workTimesSection' | translate }}</h3>
                    </div>
                    <div [formGroup]="GetFormGroup(dateTimeGroup)" class="date-time-group-container row col-md-12">
                        <app-project-validator [CurrProject]="CurrProject"
                            *ngIf="GetCurrDateTime(dateTimeGroup)&&GetTimeFormArray(dateTimeGroup)"
                            [CurrDateRunning]="GetCurrDateTime(dateTimeGroup)"
                            [TimeArrayForm]="GetTimeFormArray(dateTimeGroup)"></app-project-validator>
                        <div class=" col-md-6">
                            <app-date-picker [formGroup]="GetFormGroup(dateTimeGroup)" [formControlName]="'WorkDate'"
                                [title]="'dataLoader.workDate' | translate" [placeholder]="'dataLoader.workDate' | translate" [min]="GetMinDateVal"
                                [max]="GetMaxDateVal"></app-date-picker>
                        </div>
                        <div class="row col-md-6">
                            <div class="row col-md-12"
                                *ngFor="let timeGroup of GetFormArray(dateTimeGroup.get('TimeFormArray')).controls; let j = index">

                                <div [formGroup]="GetFormGroup(timeGroup)" class="row col-md-12">
                                    <div class="col-md-6">
                                        <app-time-picker [formGroup]="GetFormGroup(timeGroup)" [title]="'dataLoader.startTime' | translate"
                                            [formControlName]="'StartTime'" [max]="GetEndTimeVal(timeGroup)"
                                            [placeholder]="'dataLoader.startTime' | translate"></app-time-picker>
                                    </div>
                                    <div class="col-md-6">
                                        <app-time-picker [formGroup]="GetFormGroup(timeGroup)" [title]="'dataLoader.endTime' | translate"
                                            [min]="GetStartTimeVal(timeGroup)" [formControlName]="'EndTime'"
                                            [placeholder]="'dataLoader.endTime' | translate"></app-time-picker>
                                    </div>
                                    <div class="col-md-12">
                                        <app-regular-input [formGroup]="GetFormGroup(timeGroup)"
                                            [formControlName]="'WorkLocation'" [title]="'dataLoader.workLocation' | translate"
                                            [placeholder]="'dataLoader.workLocation' | translate"></app-regular-input>
                                    </div>
                                </div>
                            </div>
                            <app-add-btn (buttonClicked)="addTimeRowToDateTime(i)"></app-add-btn>
                        </div>

                        <div class="row col-md-12">
                            <h5>{{ 'dataLoader.workDescription' | translate }}</h5>
                            <app-textarea-input class="textarea-input" [formGroup]="GetFormGroup(dateTimeGroup)"
                                [formControlName]="'WorkDescription'"
                                [placeholder]="'dataLoader.workDescription' | translate"></app-textarea-input>
                        </div>
                    </div>
                </div>
                <app-add-btn (buttonClicked)="addRowFormDateTime()"></app-add-btn>
            </div>
            <app-submit-btn [btnTitle]="'dataLoader.saveBtn' | translate"></app-submit-btn>
        </div>
    </form>
</div>