<div class="content-container">
    <div class="row-headline-container  row col-md-12">
        <div class="text-content open-btn col-md-1">
        </div>
        <app-project-text-row [title]="'projectRow.constructorTitle' | translate" [projectField]="project.ConstrctorTitle" class="col-md-2"
            [colMd]="2"></app-project-text-row>
        <app-project-text-row [title]="'projectRow.constructorAddress' | translate" [projectField]="project.ConstrctorAddress" class="col-md-2"
            [colMd]="2"></app-project-text-row>
        <app-project-text-row [title]="'projectRow.constructorPhone' | translate" [projectField]="project.ConstrctorPhone" class="col-md-2"
            [colMd]="2"></app-project-text-row>
        <app-project-text-row [title]="'projectRow.entrepreneurNumber' | translate" class="col-md-2"
            [projectField]="project.ConstrctorEntrepreneurNumber" [colMd]="2"></app-project-text-row>
    </div>
    <div class="row-headline-container center row col-md-12">
        <div class="text-content open-btn col-md-1">
        </div>
        <app-project-text-row [title]="'projectRow.projectLocation' | translate" [projectField]="project.ProjectLocation" class="col-md-4"
            [colMd]="4"></app-project-text-row>
        <app-project-text-row [title]="'projectRow.invoiceNumber' | translate" [projectField]="project.AccountNumber" class="col-md-4"
            [colMd]="4"></app-project-text-row>
    </div>
    <div class="row-headline-container center row col-md-12">
        <div class="text-content open-btn col-md-1">
        </div>
        <app-project-text-row [title]="'projectRow.planner' | translate" [projectField]="project.ConstrctorName" class="col-md-4"
            [colMd]="4"></app-project-text-row>
        <app-project-text-row [title]="'projectRow.projectSubject' | translate" [projectField]="project.ProjectSubject" class="col-md-4"
            [colMd]="4"></app-project-text-row>
    </div>
    <div class="row-headline-container center row col-md-12">
        <div class="text-content open-btn col-md-1">
        </div>
        <app-project-text-row [title]="'projectRow.startContractDate' | translate" [projectField]="changeDate(project.StartContractDate)"
            class="col-md-4" [colMd]="4"></app-project-text-row>
        <app-project-text-row [title]="'projectRow.endContractDate' | translate" [projectField]="changeDate(project.EndContractDate)"
            class="col-md-4" [colMd]="4"></app-project-text-row>
    </div>
    <div class="row-headline-container center row col-md-12">
        <div class="text-content open-btn col-md-1">
        </div>
        <app-project-text-row [title]="'projectRow.employingUnit' | translate" [projectField]="project.EmployeeSectionName" class="col-md-4"
            [colMd]="4"></app-project-text-row>
        <app-project-text-row [title]="'projectRow.rateLevel' | translate" [projectField]="project.WorkKindRate" class="col-md-4"
            [colMd]="4"></app-project-text-row>
    </div>
</div>