<mat-toolbar class="mat-toolbar" color="primary">
    <div class="headline-container">
        <h1 class="main-title"> {{headLine}} </h1>
    </div>
    <div class="btn-container">
        <ng-content></ng-content>
    </div>
</mat-toolbar>
<mat-table [dataSource]="Data" mat-table class="mat-table mat-elevation-z8">
    <ng-container class="input-container" *ngFor="let field of displayedColumns" matColumnDef="{{field}}">
        <mat-header-cell *matHeaderCellDef> {{field}} </mat-header-cell>
        <mat-cell [attr.data-title]="field" *matCellDef="let element"
            [class.invalid-input]="invalidInput(field, element.Id)">
            <input [type]="checkType(element, field)" *ngIf="checkType(element, field) !== 'checkbox'"
                [disabled]="(field === 'Id') || disabledAll" [required]="checkValidate(element, field)"
                [(ngModel)]="element[field]" [ngClass]="{'route-table-disabled': disabledAll}"
                (click)="$event.stopPropagation()">
            <mat-checkbox *ngIf="checkType(element, field) === 'checkbox'" [(ngModel)]="element[field]"
                ng-true-value="true" ng-false-value="false" [ngModelOptions]="{standalone: true}"
                [disabled]="disabledAll" (click)="$event.stopPropagation()"
                [ngClass]="{'route-table-disabled': disabledAll}">
            </mat-checkbox>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
        [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" (click)="navigateToDetail(row.Id)" matRipple
        class="element-row">
    </mat-row>
</mat-table>