<section class="create-project-container">
    <app-return-btn (click)="returnFromComponent()"></app-return-btn>
    <form [formGroup]="CreateProjectForm" (ngSubmit)="onFormSubmit()">
        <section class="inputs-project-container">
            <app-main-headline [title]="'createProject.heading' | translate"></app-main-headline>
            <div class="row">
                <div class="inputs-headline-container">
                    <h3>{{ 'createProject.titleSection' | translate }}</h3>
                </div>
                <div class="col-md-4 month-field-column">
                    <app-month-picker [formGroup]="CreateProjectForm" [formControlName]="'CurrentDate'"
                        [placeholder]="'createProject.currentMonth' | translate"></app-month-picker>
                </div>

                <div class="col-md-4">
                    <app-regular-input [title]="'createProject.name' | translate" [formGroup]="CreateProjectForm"
                        [placeholder]="'createProject.namePlaceholder' | translate" [formControlName]="'Name'"></app-regular-input>
                </div>
                <div class="col-md-4">
                    <app-regular-input [title]="'createProject.sectionName' | translate" [formGroup]="CreateProjectForm" [placeholder]="'createProject.sectionName' | translate"
                        [formControlName]="'SectionName'"></app-regular-input>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <app-regular-input [title]="'createProject.constructorTitle' | translate" [formGroup]="CreateProjectForm"
                        [placeholder]="'createProject.constructorTitle' | translate" [formControlName]="'ConstrctorTitle'"></app-regular-input>
                </div>
                <div class="col-md-3">
                    <app-regular-input [title]="'createProject.constructorAddress' | translate" [formGroup]="CreateProjectForm"
                        [placeholder]="'createProject.constructorAddress' | translate" [formControlName]="'ConstrctorAddress'"></app-regular-input>
                </div>
                <div class="col-md-3">
                    <app-regular-input [title]="'createProject.constructorPhone' | translate" [formGroup]="CreateProjectForm" [placeholder]="'createProject.constructorPhone' | translate"
                        [formControlName]="'ConstrctorPhone'"></app-regular-input>
                </div>
                <div class="col-md-3">
                    <app-regular-input [title]="'createProject.entrepreneurNumber' | translate" [formGroup]="CreateProjectForm"
                        [placeholder]="'createProject.entrepreneurNumber' | translate"
                        [formControlName]="'ConstrctorEntrepreneurNumber'"></app-regular-input>
                </div>
            </div>
            <div class="row">
                <div class="row col-md-4"></div>
                <div class="col-md-4">
                    <app-regular-input [title]="'createProject.projectManager' | translate" [formGroup]="CreateProjectForm"
                        [formControlName]="'ProjectManager'" [placeholder]="'createProject.projectManager' | translate"></app-regular-input>
                    <div class="row col-md-4"></div>
                </div>
            </div>
            <div class="row">
                <div class="row col-md-6">
                    <div class="inputs-headline-container">
                        <h3>{{ 'createProject.projectDataSection' | translate }}</h3>
                    </div>
                    <div class="col-md-12">
                        <app-regular-input [title]="'createProject.projectLocation' | translate" [formGroup]="CreateProjectForm"
                            [formControlName]="'ProjectLocation'" [placeholder]="'createProject.projectLocationPlaceholder' | translate"></app-regular-input>
                    </div>
                    <div class="col-md-12">
                        <app-regular-input [title]="'createProject.planner' | translate" [formGroup]="CreateProjectForm"
                            [formControlName]="'ConstrctorName'" [placeholder]="'createProject.plannerPlaceholder' | translate"></app-regular-input>
                    </div>
                    <div class="col-md-12">
                        <app-regular-input [title]="'createProject.contractNumber' | translate" [formGroup]="CreateProjectForm"
                            [placeholder]="'createProject.contractNumber' | translate" [formControlName]="'WorkContractNumber'"></app-regular-input>
                    </div>
                    <div class="col-md-12">
                        <app-date-picker [formGroup]="CreateProjectForm" [title]="'createProject.startContractDate' | translate"
                            [formControlName]="'StartContractDate'"
                            [placeholder]="'createProject.startContractDate' | translate"></app-date-picker>
                    </div>
                    <div class="col-md-12">
                        <app-date-picker [formGroup]="CreateProjectForm" [title]="'createProject.endContractDate' | translate"
                            [formControlName]="'EndContractDate'" [placeholder]="'createProject.endContractDate' | translate"></app-date-picker>
                    </div>
                </div>
                <div class="row col-md-6">
                    <div class="inputs-headline-container">
                        <h3>{{ 'createProject.employeeDataSection' | translate }}</h3>
                    </div>
                    <div class="col-md-12">
                        <app-regular-input [title]="'createProject.accountNumber' | translate" [formGroup]="CreateProjectForm"
                            [formControlName]="'AccountNumber'" [placeholder]="'createProject.accountNumber' | translate"></app-regular-input>
                    </div>
                    <div class="col-md-12">
                        <app-regular-input [title]="'createProject.projectSubject' | translate" [formGroup]="CreateProjectForm"
                            [placeholder]="'createProject.projectSubject' | translate" [formControlName]="'ProjectSubject'"></app-regular-input>
                    </div>
                    <div class="col-md-12">
                        <app-regular-input [title]="'createProject.workerName' | translate" [formGroup]="CreateProjectForm"
                            [placeholder]="'createProject.workerName' | translate" [formControlName]="'WorkerName'"></app-regular-input>
                    </div>
                    <div class="col-md-12 row">
                        <div class="col-md-6">
                            <app-regular-input [title]="'createProject.rateType' | translate" [formGroup]="CreateProjectForm"
                                [placeholder]="'createProject.rateType' | translate" [formControlName]="'WorkKindRate'"></app-regular-input>
                        </div>
                        <div class="col-md-6">
                            <app-regular-input [title]="'createProject.rateLevel' | translate" [formGroup]="CreateProjectForm"
                                [placeholder]="'createProject.rateLevel' | translate" [formControlName]="'WorkRate'"></app-regular-input>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <app-regular-input [title]="'createProject.employingUnit' | translate" [formGroup]="CreateProjectForm"
                            [placeholder]="'createProject.employingUnit' | translate"
                            [formControlName]="'EmployeeSectionName'"></app-regular-input>
                    </div>
                </div>
            </div>
        </section>
        <app-submit-btn matStepperNext *ngIf="!CurrProject" [btnTitle]="'createProject.createBtn' | translate"></app-submit-btn>
        <app-submit-btn matStepperNext *ngIf="CurrProject" [btnTitle]="'createProject.updateBtn' | translate"></app-submit-btn>
    </form>
</section>
