.home-page-container{
    height: 100vh;
    // background-color: rgba(0, 128, 0, 0.195);
    h1 {
        font-size: 2rem;
        text-shadow: 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.1);
        transition: text-shadow 0.3s ease-in-out;
      }
      
      h1:hover {
        text-shadow: 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.2);
      }
      h1 {
        padding: 1rem;
        background: linear-gradient(45deg, #89c2ff, #696969); /* Choose your gradient colors */
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
      }
    direction: rtl;
    .input-container{
     direction: rtl;

    }
 
    .footer-container{
        background-color: rgba(128, 128, 128, 0.657);
        height: 10rem;
    }
}