<div class="date-container">
    <!-- Optional label -->
    <mat-label *ngIf="showLabel">{{ title }}</mat-label>

    <mat-form-field *ngIf="control" class="data-loader-mat-form-field" appearance="fill">
        <mat-label *ngIf="!showLabel">{{ title }}</mat-label>
        <input matInput [ngxTimepicker]="timepicker" [formControl]="control" [format]="24" placeholder="12:00"
            [min]="min" [max]="max" />

        <ngx-material-timepicker-toggle [for]="timepicker"></ngx-material-timepicker-toggle>
        <ngx-material-timepicker #timepicker></ngx-material-timepicker>
    </mat-form-field>
    <mat-form-field *ngIf="!control" class="data-loader-mat-form-field" appearance="fill">
        <mat-label *ngIf="!showLabel">{{ title }}</mat-label>
        <input matInput [ngxTimepicker]="timepicker" [(ngModel)]="selectedValue" [format]="24" placeholder="12:00"
            [min]="min" [max]="max" />

        <ngx-material-timepicker-toggle [for]="timepicker"></ngx-material-timepicker-toggle>
        <ngx-material-timepicker #timepicker></ngx-material-timepicker>
    </mat-form-field>
</div>