.btn-return-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .return-btn {
        display: flex;
        padding: 0;
        align-items: center;
        justify-content: center;
        background-color: inherit;
        color: #6f6f6f;
        border: 0.1rem solid #6f6f6f8b;
        border-radius: 0.2rem;
        cursor: pointer;
        transition: transform 0.2s, box-shadow 0.2s;

        :active {
            transform: translateY(2px);
            /* Push the button down slightly */
            box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
            /* Here's the box shadow */
        }

        :hover {
            color: white;
            background-color: rgb(98, 98, 255);
            box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
            /* Here's the box shadow */
        }
    }
}